@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {

  /* Font */
  --ff: 'Poppins', sans-serif;
  --fs: 15px;
  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  /* Colors */
  /* Primary*/
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* Neutral*/

  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);

  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  background-color: var(--color-very-light-gray);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

}

.container {
  max-width: 310px;
  margin-top: 82px;
}

.title {
  margin-bottom: 75px;
}

.subtitle {
  font-size: 24px;
  font-weight: var(--fw-extra-light);
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--color-grayish-blue);
  margin-bottom: 4px;
}

h1 {
  font-size: 24px;
  color: var(--color-very-dark-blue);
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

p {
  color: var(--color-grayish-blue);
}

.title__info {
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

section {
  box-shadow: 12px 7px 20px 6px rgb(57 75 84 / 8%);
  border-radius: 7px;
}

.item {
  height: 225px;
  position: relative;
  padding: 29px;
  padding-top: 25px;
  margin-bottom: 21px;
  cursor: pointer;
  transition: ease-out 0.7s;
}

.item:hover {
  backdrop-filter: blur(0.9375rem);
  box-shadow: 0rem 0.9375rem 2.625rem -0.6875rem rgba(131, 166, 210, 0.4);
  filter: saturate(1.5);
  transition: cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

.item h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.item__info {
  font-size: 13px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

.item__img {
  width: 59px;
  position: absolute;
  right: 25px;
  bottom: 26px;
}

.item-cyan {
  border-top: 4px solid var(--color-cyan);
}

.item-red {
  border-top: 4px solid var(--color-red);
}

.item-orange {
  border-top: 4px solid var(--color-orange);
}

.item-blue {
  border-top: 4px solid var(--color-blue);
}

.item-red:hover,
.item-cyan:hover,
.item-orange:hover,
.item-blue:hover {
  transform: translateX(1.25rem);
  transition: cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

.item-cyan:hover {
  border-top: 12px solid var(--color-cyan);
}

.item-red:hover {
  border-top: 12px solid var(--color-red);
}

.item-orange:hover {
  border-top: 12px solid var(--color-orange);
}

.item-blue:hover {
  border-top: 12px solid var(--color-blue);
}

@media (min-width: 376px) {

  .container {
    max-width: 1115px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    max-width: 510px;
    text-align: center;
    margin-bottom: 60px;
  }

  .title p {
    font-size: 15px;
    display: inline;
  }

  .subtitle {
    font-size: 36px;
    margin-bottom: -5px;
  }

  h1 {
    font-size: 36px;
  }

  .title__info {
    font-size: 16px;
  }

  .item__container {
    display: grid;
    grid-template-areas:
      "cyan red blue"
      "cyan orange blue";
    column-gap: 30px;
    row-gap: 30px;
  }

  .item {
    height: 230px;
    width: 350px;
  }

  .item-cyan {
    grid-area: cyan;
    top: 27%;
  }

  .item-red {
    grid-area: red;
  }

  .item-orange {
    grid-area: orange;
  }

  .item-blue {
    grid-area: blue;
    top: 27%;
  }

  .item-cyan:hover {
    transform: translateX(-1.25rem);
  }

  .item-red:hover {
    transform: translateY(-1.25rem);
  }

  .item-orange:hover {
    transform: translateY(1.25rem);
  }

  .item-blue:hover {
    transform: translateX(1.25rem);
  }

  .item h2 {
    padding-top: 2px;
    padding-top: 2px;
    padding-left: 5px;
    margin-bottom: 14px;
  }

  section:nth-child(2) h2 {
    padding-top: 5px;
    letter-spacing: 1px;
  }

  section:nth-child(3) h2 {
    padding-top: 4px;
    letter-spacing: 1px;
  }

  section:nth-child(4) h2 {
    letter-spacing: 1px;
  }

  .item__info {
    padding-left: 5px;
  }

  .item__img {
    width: 59px;
    position: absolute;
    right: 34px;
    bottom: 17px;
  }

  section:nth-child(2) .item__img {
    right: 34px;
    bottom: 11px;
  }

  section:nth-child(3) img {
    position: absolute;
    right: 34px;
    bottom: 13px;
  }

}